<div class="ad-menu">
    <ul class="nav nav-list">
        <li class="ad-menu-item">
            <a ui-sref="home"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li class="ad-menu-item">
            <a ui-sref="login"><i class="fa fa-fw fa-folder"></i> Page one</a>
        </li>
        <li class="ad-menu-item">
            <a href="#"><i class="fa fa-fw fa-book"></i> Page two</a>
        </li>
        <li class="ad-menu-item">
            <a href="#"><i class="fa fa-fw fa-file-o"></i> Page three</a>
        </li>
        <li class="ad-menu-item">
            <a href="#"><i class="fa fa-fw fa-cog"></i> Page four</a>
        </li>
    </ul>
</div>
